main {
    background-color: peachpuff;
    background-image: linear-gradient(peachpuff, rgb(255, 161, 177)); 
    max-width: 1200px;
    width: 100%;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.title { 
    font-size: 80px;
    font-family: "Permanent Marker", italic;
    letter-spacing: 10px;
    text-align: center;
    text-shadow: 2px 2px turquoise;
}

.subtitle {
    font-size: 30px;
    text-align: center;
}

.info {
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    margin-top: 30px;
}

.list-headline {
    list-style: none;
    margin-bottom: 20px;
}

.card {
    max-width: 400px;
    width: 100%;
    min-height: 500px; 
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
    line-height: 30px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

/*how can I get it to just stay big?*/
@keyframes buttonzoom {
    0% {transform: scale(1)}
    50% {transform: scale(1.25)}
    100% {transform: scale(1);}
}

.button-positioning {
    display: flex;
    justify-content: center;
}

.main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "permanent marker", italic;
    background-color: turquoise;
    text-shadow: 1px 1px white;
    width: 150px;
    height: 50px;
    border-radius: 5px;
}

.main-button:hover {
    background-color: rgb(139, 255, 243);
    transition: all 0.5s ease-in-out;
    animation: buttonzoom 2s;
/*    transform: scale(1.25) perspective(1px);*/
}
